@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 10px;
}

:root {
  --main: #A4D2BF;
  --secondery: #000;
  --light-support: #EEEEEE;
  --heavy-support: #C0C0C0;
  --white: #fff;
  --border-color: #C0C0C0;
}


header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 5rem;
    margin-bottom: 6rem;
    background-color: #A4D2BF;
}

header .user {
    width: 20%;
    display: flex;
    align-items: center;

}

header .user h1 {
    font-size: 1.7rem;
    margin-left: 1rem;
}

header .user img{
    width: 60px;
    border-radius: 50%;
}


header ul {
    list-style: none;
    display: flex;
    font-size: 2rem;
    padding: 3rem 0rem;
}

header ul li {
    margin-right: 4rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 2.4rem;
}
header ul li a {
    text-decoration: none;
    color: #000;
}
/* ========== */
#form {
  display: flex;
  padding: 2rem 4rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 6rem;
}

#form textarea {
  border: 0;
  outline: 2px solid var(--heavy-support);
  resize: none;
  font-size: 16px;
  width: 100%;
  padding: 1rem 2rem;
  /* background: var(--light-support); */
}

#form textarea::placeholder {
  text-align: center;
  vertical-align: middle;
}

#form button {
  width: auto;
  padding: 0.8rem 4rem;
  border: 0;
  outline: 0;
  background-color: var(--main);
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  align-self: flex-end;
}

#form button:hover {
  outline: 2px solid var(--main);
  color: var(--main);
  background-color: inherit;
}

/* ========== */

main {
    width: 60%;
    margin: 0 auto;
}

main .post{
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

main .post .user {
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}


main .post .user img{
    width: 50px;
    border-radius: 50%;
    margin-right: 2rem;
}

main .post .fa-xmark {
    font-size: 2rem;
    border: solid #A4D2BF 1px;
    padding: 0.5rem 0.9rem;
    border-radius: 50%;
    cursor: pointer;
}

main .post p {
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem 5rem;
    border-bottom: solid var(--heavy-support) 1px;
    padding-bottom: 3rem;
    margin-bottom: 2rem;
}

main .post .like {
    text-align: right;
    width: 100%;
    font-size: 2rem;
}

main .post .like span {
    margin-right: 1rem;
}

i {
    cursor: pointer;
}